@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style-type: none;
}

body {
  font-family: "Rubik", sans-serif;
  height: 95vh;
  display: flex;
  justify-content: center;
  padding: 2% 4%;
  flex-wrap: wrap;
}
